###############################################################
#    OOO    OO    OO  OOOOOO  OOOO OOOOOOOO  OO       OOOOOOOO
#   OO OO   OOO   OO OO    OO  OO  OO     OO OO       OO
#  OO   OO  OOOO  OO OO        OO  OO     OO OO       OO
# OO     OO OO OO OO  OOOOOO   OO  OOOOOOOO  OO       OOOOOO
# OOOOOOOOO OO  OOOO       OO  OO  OO     OO OO       OO
# OO     OO OO   OOO OO    OO  OO  OO     OO OO       OO
# OO     OO OO    OO  OOOOOO  OOOO OOOOOOOO  OOOOOOOO OOOOOOOO
###############################################################

[Unit]
Description="Prometheus Blackbox (ping/http probe) Exporter (blackbox_exporter)"
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ blackbox_exporter_user }}
Group={{ blackbox_exporter_group }}

ExecStart={{ blackbox_exporter_unzip_dir }}/blackbox_exporter \
    --config.file={{ blackbox_exporter_config_dir }}/blackbox_exporter.yml \
    --web.listen-address={{ blackbox_exporter_web_listen_address }}:{{ blackbox_exporter_port }}

SyslogIdentifier=blackbox_exporter
Restart=always

[Install]
WantedBy=multi-user.target

